{% extends 'base.html.twig' %}

{% block title %}Modifier-Entree{% endblock %}

{% block body %}
    <div class="Table_menu">

        {{ form_start(Entree) }}
        <div class="entry-title" style="color: #0d5470">
            <h1>Modifier une Entree</h1>
        </div>

        <div >
            <div >
                {{ form_row(Entree.nom, {'attr': {'placeholder': "Nom de l'entrée"}}) }}
            </div>
            <div >
                {{ form_row(Entree.ingredients) }}
            </div>
            <div >
                {{ form_row(Entree.prix) }}
            </div>

        </div>

        <div>
            <div>
                {{ form_start(Entree) }}
                {{ form_widget(Entree) }}
                <button class="btn">{{ button_label|default('Modifier') }}</button>
                {{ form_end(Entree) }}
            </div>
            <div>
                <a href="{{ path('app_menu') }}">back</a>
            </div>
        </div>

        <div class="">
            <form method="post" action="{{ path('Entree_delete', {'id': entree.id }) }}"
                  onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cette Entrée?');">

                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entree.id) }}">
                <button class="btn">Supprimer</button>

            </form>
        </div>
    </div>
{% endblock %}