{% extends 'base.html.twig' %}

{% block title %}Modifier-Entree{% endblock %}

{% block body %}
    <div class="Box-title-modifier">
        <h3>Modifier une Entree </h3>
    </div>

     <div class="box">
        {{ form_start(Entree) }}

        <div class="image">
            {%if brochure%}
                <img src="{{ asset('uploads/brochures/' ~ brochure)}}" alt="Image" class="sectionimg">
            {%else%}
                <img src="{{ asset('img/default-image.png')}}" alt="Image" class="sectionimg" >
            {%endif%}
        </div>

        <div class="input">
            {{ form_row(Entree.nom, {'attr': {'placeholder': "Nom de l'entrée"}}) }}
            {{ form_row(Entree.ingredients) }}
            {{ form_row(Entree.prix) }}
            {{ form_row(Entree.brochure) }}
        </div>

        <div class="allBtn">
            {{ form_start(Entree) }}
            <button class="btn-valider-modifier">{{ button_label|default('Modifier') }}</button>
            {{ form_end(Entree) }}

            <a class="btn-back" href="{{ path('app_menu') }}">back</a>

            <form method="post" action="{{ path('Entree_delete', {'id': entree.id }) }}"
                  onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cette Entrée?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entree.id) }}">
                <button type="submit" class="btn-supprimer">Supprimer</button>
            </form>
        </div>
    </div>
{% endblock %}