{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
    <div>
        <img id="img-Entree-terre-neuvas" src="{{ asset('img/interieur.jpg') }}" alt="img-Entree-terre-neuvas">
        <h1>Les Terre-Neuvas</h1>
    </div>

    <div id="content">
        <div id="block-Left">
            <article id="block-Detail">
                <h2>Details</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
                    cumque explicabo,illum odit quaerat sapiente tempore veniam voluptas.
                    Debitis dolore officiis similique veniam voluptates. Assumenda autem ex harum
                    modi voluptatum!
                </p>
            </article>

            <div>
                <img id="img-hr" src="{{ asset('img/hr.png') }}" alt="img-hr">
            </div>

            <article id="block-horaire">
                <h2>Horaire d'ouverture</h2>
                <p>
                    cumque explicabo,illum odit quaerat sapiente tempore veniam voluptas.
                    Debitis dolore officiis similique veniam voluptates. Assumenda autem ex harum
                    modi voluptatum!
                </p>
            </article>
            <div>
                <a id="btn-reservation-2" href="{{path('app_accueil')}}" title="Réservation">Réservation</a>
            </div>
        </div>

        <hr>

        <div id="block-right">
            <article id="block-Info">
                <h2>Les Terre-Neuvas</h2>

                <div>
                    <img id="img-hr" src="{{ asset('img/hr.png') }}" alt="img-hr">
                </div>

                <P>
                    Loripsum dolor sit amet, consectetur adipisicing elit. Adipisci
                    cumque explicabo,illum odit quaerat sapiente tempore veniam voluptas.
                    Debitis dolore officiis similique veniam voluptates. Assumenda autem ex harum
                    modi voluptatum!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
                    cumque explicabo,illum odit quaerat sapiente tempore veniam voluptas.
                    Debitis dolore officiis similique veniam voluptates. Assumenda autem ex harum
                    modi voluptatum!
                </P>
            </article>

            <div>
                <img id="img-hr" src="{{ asset('img/hr.png') }}" alt="img-hr">
            </div>

            <a id="btn-plus-photos" href="{{path('app_accueil')}}" title="Plus de Photos"> < Plus de Photos...</a>
        </div>
    </div>

    <div id="block-decouvertes-culinaires">
        <img id="img-port-erquy" src="{{ asset('img/port-erquy.jpg') }}" alt="">
        <img id="img-plats-2" src="{{ asset('img/entré.jpg') }}">

        <div id="PlusInfo">
            <div>
                <h2>Découvertes culinaires...</h2>

                <p>Loripsum dolor sit amet, consectetur adipisicing elit.</p>

                <p>LLoripsum dolor sit amet, consectetur adipisicing elit. Adipisci
                    cumque explicabo,illum odit quaerat sapiente tempore veniam voluptas.
                    Debitis dolore officiis similique veniam voluptates. Assumenda autem ex harum
                    modi voluptatum.ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
                    cumque explicabo,illum quaerat odit sapiente tempore veniam voluptas.
                    Debitis dolore officiis similique veniam voluptates. Assumenda autem ex harum
                    modi voluptatum.</p>
            </div>
            <div id="div-btn-carte">
                <a id="btn-carte" href="{{path('app_accueil')}}" title="Découvrire notre carte">Découvrire notre carte</a>
            </div>
        </div>
    </div>

    <div>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
    </div>
{% endblock %}