<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0 , minimum-scale=1.0 , maximum-scale=1.0" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {# ou composer require profiler --dev #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}

            <nav>
                <ul id="nav-bar">
                    <a id="title" href="{{path('app_accueil')}}"> <h2> Poké-p'</h2></a>

                    <li>
                        <a class="link-nav-bar" href="{{path('app_accueil')}}" title="Accueil">Accueil</a>
                    </li>
                    <li>
                        <a class="link-nav-bar" href="{{path('app_afficher_menu')}}" title="Cart/Menu">Menu</a>
                    </li>

                    {% if app.user%}
                    <li>
                        <a class="link-nav-bar" href="{{path('app_menu')}}" title="Menu">Modifier le Menu</a>
                    </li>
                    {% endif %}


                {% if app.user%}
                    <div id="BlockProfil">
                        <div>
                            <p id="name_login">{{app.user.username}}</p>
                            <a id="logout" href="{{path('app_logout')}}">Déconection</a>
                        </div>
                        <img src="{{ asset('img/images-profil.png')}}" alt="profil" id="img-profil">
                    </div>
                {% endif %}
                </ul>

            </nav>
        {% endblock %}


        {% block body %}

        {% endblock %}

    </body>
</html>
