{% extends 'base.html.twig' %}

{% block title %}ajouter{% endblock %}

{% block body %}
    <div class="Table_menu">

        {{ form_start(form) }}
        <div class="entry-title" style="color: #0d5470">
            <h1>Modifier une Entree</h1>
        </div>

        <br><br>

        <div class="row g-3 aligncenter">
            <div class="col">
                {{ form_row(form.nom, {'attr': {'placeholder': "Nom de ville"}}) }}
            </div>
            <div class="col">
                {{ form_row(form.ingredients) }}
            </div>
        </div>

        {{ include('ville/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('menu_index') }}">back</a>

        {{ include('ville/_delete_form.html.twig') }}
    </div>


{% endblock %}