{% extends 'base.html.twig' %}

{% block title %}menu{% endblock %}

{% block body %}

{############################ Entree ###############################}
    <div style="display: flex">
        <hr style="width: 100%; height: 1px">
            <h2 id="title-entree">Entree:</h2>
        <hr style="width: 100%; height: 1px">
    </div>

    <table class="Table_menu">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Imgredients</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for Entree in LstEntrees %}
                <tr>
                    <td class="td">{{ Entree.nom }}</td>
                    <td class="td">{{ Entree.ingredients }}</td>
                    <td class="td">{{ Entree.prix }}</td>
                    <td class="td">
                        <a href="{{ path('menu_edit_entree', {'id': Entree.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
        <tr>
            <td>
                <a href="{{ path('Entree_new') }}">Ajouter</a>
            </td>
        </tr>
        </tbody>
    </table>

    {############################ Plat ###############################}
    <div style="display: flex">
        <hr style="width: 100%; height: 1px">
        <h2 id="title-entree">Plats:</h2>
        <hr style="width: 100%; height: 1px">
    </div>

    <table class="Table_menu">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Imgredients</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for Plat in LstPLats %}
            <tr>
                <td class="td">{{ Plat.nom }}</td>
                <td class="td">{{ Plat.ingredients }}</td>
                <td class="td">{{ Plat.prix }}</td>
                <td class="td">
                    <a href="{{ path('menu_edit_entree', {'id': Plat.id}) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>
                <a href="{{ path('app_menu') }}">Ajouter</a>
            </td>
        </tr>
        </tbody>
    </table>

    {############################ Dessert ###############################}
    <div style="display: flex">
        <hr style="width: 100%; height: 1px">
        <h2 id="title-entree">Dessert:</h2>
        <hr style="width: 100%; height: 1px">
    </div>

    <table class="Table_menu">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Imgredients</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for Dessert in LstDessert %}
            <tr>
                <td class="td">{{ Dessert.nom }}</td>
                <td class="td">{{ Dessert.ingredients }}</td>
                <td class="td">{{ Dessert.prix }}</td>
                <td class="td">
                    <a href="{{ path('menu_edit_entree', {'id': Dessert.id}) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>
                <a href="{{ path('app_menu') }}">Ajouter</a>
            </td>
        </tr>
        </tbody>
    </table>


    {############################ Boisson ###############################}
    <div style="display: flex">
        <hr style="width: 100%; height: 1px">
        <h2 id="title-entree">Boisson:</h2>
        <hr style="width: 100%; height: 1px">
    </div>

    <table class="Table_menu">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Imgredients</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for Boisson in LstBoisson %}
            <tr>
                <td class="td">{{ Boisson.nom }}</td>
                <td class="td">{{ Boisson.ingredients }}</td>
                <td class="td">{{ Boisson.prix }}</td>
                <td class="td">
                    <a href="{{ path('menu_edit_entree', {'id': Boisson.id}) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>
                <a href="{{ path('app_menu') }}">Ajouter</a>
            </td>
        </tr>
        </tbody>
    </table>



{% endblock %}
