{% extends 'base.html.twig' %}

{% block title %}menu{% endblock %}

{% block body %}

    <div id="Header">

        <div id="Date">
            <p>Date du Jour: {{ "now"|date("d/m/Y") }}</p>
        </div>

        <div id="prenomParticipant">
            <p>Utilisateur: {{ app.user.username ?? 'Vous n\'etes pas connecté' }}</p>
        </div>
    </div>



{############################ Entree ###############################}
    <div class="title-menu">
        <hr>
        <h2 id="title-entree">Entree:</h2>
        <hr>
    </div>

    <div class="box-Parents">
        {% for Entree in LstEntrees %}

            <section class="lstMenu">

                <div class="info">
                    <div class="sectionNom">{{ Entree.nom }}</div>
                    <div class="sectionIngredients">{{ Entree.ingredients }}</div>
                    <div class="sectionPrix">{{ Entree.prix }}€</div>
                </div>
                <div class="image">
                    {%if Entree.brochureFilename%}
                        <img src="{{ asset('uploads/brochures/' ~ Entree.brochureFilename())}}" alt="Image" class="sectionimg">
                    {%else%}
                        <img src="{{ asset('img/default-image.png')}}" alt=""  class="sectionimg">
                    {%endif%}
                </div>
                <div class="btn-modifier"><a class="text-modifier" href="{{ path('menu_edit_entree', {'id': Entree.id}) }}">Modifier</a></div>
            </section>
        {% endfor %}
        {% if LstEntrees is empty %}
            <div class="Message-Menu-Vide">
                <p>Il n'y à pas encore d'entrée</p>
            </div>
        {% endif %}
    </div>
    <div class="box-Parents-btn-plus">
        <a  href="{{ path('Entree_new') }}"><img class="btn-plus" src="{{ asset('img/btnPlus.png') }}" rel="{{ path('Entree_new') }}" ></a>
    </div>


    {############################ Plat ###############################}
    <div class="title-menu">
        <hr>
        <h2 id="title-Plat">Plat:</h2>
        <hr>
    </div>

    <div class="box-Parents">
        {% for Plat in LstPLats %}

            <section class="lstMenu">

                <div class="info">
                    <div class="sectionNom">{{ Plat.nom }}</div>
                    <div class="sectionIngredients">{{ Plat.ingredients }}</div>
                    <div class="sectionPrix">{{ Plat.prix }}€</div>
                </div>
                <div class="image">
                    {%if Plat.brochureFilename%}
                        <img src="{{ asset('uploads/brochures/' ~ Plat.brochureFilename())}}" alt="Image" class="sectionimg">
                    {%else%}
                        <img src="{{ asset('img/default-image.png')}}" alt=""  class="sectionimg">
                    {%endif%}
                </div>
                <div class="btn-modifier"><a class="text-modifier" href="{{ path('menu_edit_plat', {'id': Plat.id}) }}">Modifier</a></div>
            </section>
        {% endfor %}
        {% if LstPLats is empty %}
            <div class="Message-Menu-Vide">
                <p>Il n'y à pas encore de plat</p>
            </div>
        {% endif %}
    </div>
    <div class="box-Parents-btn-plus">
        <a  href="{{ path('Plat_new') }}"><img class="btn-plus" src="{{ asset('img/btnPlus.png') }}" rel="{{ path('Entree_new') }}" ></a>
    </div>
    {############################ Dessert ###############################}
    <div class="title-menu">
        <hr>
        <h2 id="title-Dessert">Dessert:</h2>
        <hr>
    </div>

    <div class="box-Parents">
        {% for Dessert in LstDesserts %}

            <section class="lstMenu">

                <div class="info">
                    <div class="sectionNom">{{ Dessert.nom }}</div>
                    <div class="sectionIngredients">{{ Dessert.ingredients }}</div>
                    <div class="sectionPrix">{{ Dessert.prix }}€</div>
                </div>
                <div class="image">
                    {%if Dessert.brochureFilename%}
                        <img src="{{ asset('uploads/brochures/' ~ Dessert.brochureFilename())}}" alt="Image" class="sectionimg">
                    {%else%}
                        <img src="{{ asset('img/default-image.png')}}" alt=""  class="sectionimg">
                    {%endif%}
                </div>
                <div class="btn-modifier"><a class="text-modifier" href="{{ path('menu_edit_Dessert', {'id': Dessert.id}) }}">Modifier</a></div>
            </section>
        {% endfor %}
        {% if LstDesserts is empty %}
            <div class="Message-Menu-Vide">
                <p>Il n'y à pas encore de Dessert</p>
            </div>
        {% endif %}
    </div>

    <div class="box-Parents-btn-plus">
        <a  href="{{ path('Dessert_new') }}"><img class="btn-plus" src="{{ asset('img/btnPlus.png') }}" rel="{{ path('Entree_new') }}" ></a>
    </div>
    {############################ Boisson ###############################}
    <div class="title-menu">
        <hr>
        <h2 id="title-Boisson">Boisson:</h2>
        <hr>
    </div>

    <div class="box-Parents">
        {% for Boisson in LstBoissons %}

            <section class="lstMenu">

                <div class="info">
                    <div class="sectionNom">{{ Boisson.nom }}</div>
                    <div class="sectionIngredients">{{ Boisson.ingredients }}</div>
                    <div class="sectionPrix">{{ Boisson.prix }}€</div>
                </div>
                <div class="image">
                    {%if Boisson.brochureFilename%}
                        <img src="{{ asset('uploads/brochures/' ~ Boisson.brochureFilename())}}" alt="Image" class="sectionimg">
                    {%else%}
                        <img src="{{ asset('img/default-image.png')}}" alt=""  class="sectionimg">
                    {%endif%}
                </div>
                <div class="btn-modifier"><a class="text-modifier" href="{{ path('menu_edit_Boisson', {'id': Boisson.id}) }}">Modifier</a></div>
            </section>
        {% endfor %}
        {% if LstBoissons is empty %}
            <div class="Message-Menu-Vide">
                <p>Il n'y à pas encore de Boisson</p>
            </div>
        {% endif %}
    </div>
    <div class="box-Parents-btn-plus">
        <a  href="{{ path('Boisson_new') }}"><img class="btn-plus" src="{{ asset('img/btnPlus.png') }}" rel="{{ path('Entree_new') }}" ></a>
    </div>
{% endblock %}
