{% extends 'base.html.twig' %}

{% block title %}Modifier-Dessert{% endblock %}

{% block body %}
    <div class="Box-title-modifier">
        <h3>Modifier une Dessert </h3>
    </div>

    <div class="box">
        <div >
            {{ form_start(Dessert) }}

            <div class="image">
                {%if brochure%}
                    <img src="{{ asset('uploads/brochures/' ~ brochure)}}" alt="Image" class="sectionimg">
                {%else%}
                    <img src="{{ asset('img/default-image.png')}}" alt="Image" class="sectionimg" >
                {%endif%}
            </div>

            <div class="input">
                <div >
                    {{ form_row(Dessert.nom, {'attr': {'placeholder': "Nom de l'entrée"}}) }}
                </div>
                <div >
                    {{ form_row(Dessert.ingredients) }}
                </div>
                <div >
                    {{ form_row(Dessert.prix) }}
                </div>
                <div >
                    {{ form_row(Dessert.brochure) }}
                </div>
            </div>

        </div>

        <div class="allBtn">
            <div>
                <div>
                    {{ form_start(Dessert) }}
                    <button class="btn-valider-modifier">{{ button_label|default('Modifier') }}</button>
                    {{ form_end(Dessert) }}
                </div>
            </div>
            <div>
                <a class="btn-back" href="{{ path('app_menu') }}">back</a>
            </div>

            <form method="post" action="{{ path('Plat_delete', {'id': ID }) }}"
                  onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer ce Plat?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ID) }}">
                <button class="btn-supprimer">Supprimer</button>
            </form>
        </div>
    </div>
{% endblock %}