{% extends 'base.html.twig' %}

{% block title %}Modifier-Boisson{% endblock %}

{% block body %}
    <div class="Table_menu">

        {{ form_start(Boisson) }}
        <div class="entry-title" style="color: #0d5470">
            <h1>Modifier une Boisson</h1>
        </div>

        <div >
            <div class="image-menu">
                {%if brochure%}
                    <img src="{{ asset('uploads/brochures/' ~ brochure)}}" alt="Image">
                {%else%}
                    <img src="{{ asset('img/default-image.png')}}" alt="Image" >
                {%endif%}
            </div>
            <div >
                {{ form_row(Boisson.nom, {'attr': {'placeholder': "Nom de la Boisson"}}) }}
            </div>
            <div >
                {{ form_row(Boisson.ingredients) }}
            </div>
            <div >
                {{ form_row(Boisson.prix) }}
            </div>

        </div>

        <div>
            <div>
                {{ form_start(Boisson) }}
                {{ form_widget(Boisson) }}
                <button class="btn">{{ button_label|default('Modifier') }}</button>
                {{ form_end(Boisson) }}
            </div>
            <div>
                <a href="{{ path('app_menu') }}">back</a>
            </div>
        </div>
        <div class="">
            <form method="post" action="{{ path('Boisson_delete', {'id': boisson.id} ) }}"
                  onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cette Boisson?');">

                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ boisson.id) }}">
                <button class="btn">Supprimer</button>

            </form>
        </div>


{% endblock %}