{% extends 'base.html.twig' %}

{% block title %}Modifier-Plat{% endblock %}

{% block body %}
    <div class="Box-title-modifier">
        <h3>Modifier une Plat </h3>
    </div>
    <div class="box">
        {{ form_start(Plat) }}

        <div class="image">
            {%if brochure%}
                <img src="{{ asset('uploads/brochures/' ~ brochure)}}" alt="Image" class="sectionimg">
            {%else%}
                <img src="{{ asset('img/default-image.png')}}" alt="Image" class="sectionimg" >
            {%endif%}
        </div>

        <div class="input">
            {{ form_row(Plat.nom, {'attr': {'placeholder': "Nom de l'entrée"}}) }}
            {{ form_row(Plat.ingredients) }}
            {{ form_row(Plat.prix) }}
            {{ form_row(Plat.brochure) }}
        </div>

        <div class="allBtn">
            {{ form_start(Plat) }}
            <button class="btn-valider-modifier">{{ button_label|default('Modifier') }}</button>
            {{ form_end(Plat) }}

            <a class="btn-back" href="{{ path('app_menu') }}">back</a>

            <form method="post" action="{{ path('Plat_delete', {'id': ID }) }}"
                  onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer ce Plat?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ID) }}">
                <button class="btn-supprimer">Supprimer</button>
            </form>
        </div>
{% endblock %}