{% extends 'base.html.twig' %}

{% block title %}Plat{% endblock %}

{% block body %}
    <div class="box">
        {{ form_start(Plat) }}
        <div class="input">
            {{ form_row(Plat.nom, {'attr': {'placeholder': "Gaspacho"}}) }}
            {{ form_row(Plat.ingredients, {'attr': {'placeholder': "tomates, poivron rouge, ail ..."}}) }}
            {{ form_row(Plat.prix, {'attr': {'placeholder': "10.90"}}) }}
            {{ form_row(Plat.brochure)}}
        </div>
        <div class="allBtn">
            {{ form_start(Plat) }}
            {{ form_widget(Plat) }}
            <button class="btn-valider-modifier">{{ button_label|default('Enregistrer') }}</button>
            {{ form_end(Plat) }}
            <a class="btn-back" href="{{ path('app_menu') }}">back</a>
        </div>
    </div>
{% endblock %}