{% extends 'base.html.twig' %}

{% block title %}Plat{% endblock %}

{% block body %}
    <div class="Table_menu">

        {{ form_start(Plat) }}
        <div>
            <div>
                {{ form_row(Plat.nom, {'attr': {'placeholder': "Gaspacho"}}) }}
            </div>
            <div>
                {{ form_row(Plat.ingredients, {'attr': {'placeholder': "tomates, poivron rouge, ail ..."}}) }}
            </div>
            <div>
                {{ form_row(Plat.prix, {'attr': {'placeholder': "10.90"}}) }}
            </div>

        </div>

        <div>
            <div>
                {{ form_start(Plat) }}
                {{ form_widget(Plat) }}
                <button class="btn">{{ button_label|default('Enregistrer') }}</button>
                {{ form_end(Plat) }}
            </div>
            <div>
                <a href="{{ path('app_menu') }}">back</a>
            </div>
        </div>
    </div>
{% endblock %}